@import "mixins.scss";
@import "colors.scss";
@import "resp.scss";



.container{
    .wrapper{
        @include center;
        @include md{
            margin-top: 1rem;
        }
        flex-direction: column;
        margin-top: 5rem;
        .box{
            @include md{
                width: 90%;
            }
            @include sm{
                padding: 2rem 1rem;
            }
            padding: 3rem 2rem;
            margin-bottom: 2rem;
            border-radius: 15px;
            width: 80%;
            max-width: 1500px;
            background-color: rgba(0,0,0,0.6);
            color: white;
            @include center;
            flex-direction: column;
            .title{
                @include md{
                    font-size: 1.3rem;
                }
                @include sm{
                    font-size: 1rem;
                }
                font-size: 1.6rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }
            .content{
                @include md{
                    font-size: .9rem;
                }
                @include sm{
                    font-size: .8rem;
                }
                font-size: 1.1rem;
                font-weight: 300;
                text-align: center;
            }
        }
        #galeria{
            .content{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: row;
                img{
                    @include sm{
                        width: 90%;
                    }
                    max-width: 400px;
                    margin: 10px;
                    border-radius: 10px;
                }
            }
        }

        #rzuty{
            .content{
                @include center;
                flex-direction: column;

                .imageContainer{
                    position: relative;
                    width: fit-content;

                    img{
                        max-width: 100%;
                        border-radius: 20px;
                    }
                    .overlay{
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 7px;
                        border-radius: 20px;
                        display: grid;
                        grid-template-columns: 0.9855fr 1fr;
                        grid-template-rows: 0.915fr 1fr;
                        overflow: hidden;

                        .hover{
                            transition: .3s all ease;
                            background-color: rgba(0,0,0,0.2);
                        }

                        .selected{
                            background-color: rgba($main, 0.3);
                        }
                    }
                }
                .options{
                    width: 100%;

                    .hidden{
                        display: none !important;
                    }
                    .option{
                        width: 100%;
                        @include center;
                        flex-direction: column;
                        .text{
                            margin: 1rem;
                            font-size: 1.1rem;
                            font-weight: 400;
                        }
                        .buttons{
                            @include center;
                            justify-content: center;
                            flex-direction: row;
                            flex-wrap: wrap;
                            // width: 400px;
                            max-width: 90%;
                            .button{
                                @include center;
                                @include md{
                                    margin: .3rem;
                                }
                                margin: 0 1rem .5rem 1rem;
                                padding: .4rem 0;
                                width: 110px;
                                border-radius: 20px;
                                outline: 2px solid $main;
                                outline-offset: -1px;
                                transition: .3s all ease;
                                cursor: pointer;
    
                                &:hover{
                                    background-color: $main;
                                    color: black;
                                }
                            }

                            .selected{
                                background-color: $main;
                                color: black;
                            }
                        }
                        .hidden{
                            display: none !important;
                        }
                    }
                    .info{
                        display: flex;
                        flex-direction: column;

                        .text{
                            margin: 1rem;
                            font-weight: 500;
                            font-size: 1.3rem;
                        }
                        .desc{
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}