.container .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}
@media screen and (max-width: 768px) {
  .container .wrapper {
    margin-top: 1rem;
  }
}
.container .wrapper .box {
  padding: 3rem 2rem;
  margin-bottom: 2rem;
  border-radius: 15px;
  width: 80%;
  max-width: 1500px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .container .wrapper .box {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .container .wrapper .box {
    padding: 2rem 1rem;
  }
}
.container .wrapper .box .title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .container .wrapper .box .title {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 576px) {
  .container .wrapper .box .title {
    font-size: 1rem;
  }
}
.container .wrapper .box .content {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .container .wrapper .box .content {
    font-size: 1rem;
  }
}
.container .wrapper #galeria .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.container .wrapper #galeria .content img {
  max-width: 400px;
  margin: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 576px) {
  .container .wrapper #galeria .content img {
    width: 90%;
  }
}
.container .wrapper #rzuty .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .wrapper #rzuty .content .imageContainer {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.container .wrapper #rzuty .content .imageContainer img {
  width: 100%;
  max-width: 800px;
  max-height: 550px;
  border-radius: 20px;
}
.container .wrapper #rzuty .content .imageContainer .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 7px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 0.9855fr 1fr;
  grid-template-rows: 0.915fr 1fr;
  overflow: hidden;
}
.container .wrapper #rzuty .content .imageContainer .overlay .hover {
  transition: 0.3s all ease;
  background-color: rgba(0, 0, 0, 0.2);
}
.container .wrapper #rzuty .content .imageContainer .overlay .selected {
  background-color: rgba(220, 175, 107, 0.3);
}
.container .wrapper #rzuty .content .options {
  width: 100%;
}
.container .wrapper #rzuty .content .options .hidden {
  display: none !important;
}
.container .wrapper #rzuty .content .options .option {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .wrapper #rzuty .content .options .option .text {
  margin: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
}
.container .wrapper #rzuty .content .options .option .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90%;
}
.container .wrapper #rzuty .content .options .option .buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0.5rem 1rem;
  padding: 0.4rem 0;
  width: 110px;
  border-radius: 20px;
  outline: 2px solid #DCAF6B;
  outline-offset: -1px;
  transition: 0.3s all ease;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .container .wrapper #rzuty .content .options .option .buttons .button {
    margin: 0.3rem;
  }
}
.container .wrapper #rzuty .content .options .option .buttons .button:hover {
  background-color: #DCAF6B;
  color: black;
}
.container .wrapper #rzuty .content .options .option .buttons .selected {
  background-color: #DCAF6B;
  color: black;
}
.container .wrapper #rzuty .content .options .option .hidden {
  display: none !important;
}
.container .wrapper #rzuty .content .options .info {
  display: flex;
  flex-direction: column;
}
.container .wrapper #rzuty .content .options .info .text {
  margin: 1rem;
  font-weight: 500;
  font-size: 1.3rem;
}
.container .wrapper #rzuty .content .options .info .desc {
  text-align: left;
}
.container .wrapper #kontaktTemp {
  flex-direction: row;
  justify-content: space-between;
}
.container .wrapper #kontaktTemp .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}
@media screen and (max-width: 576px) {
  .container .wrapper #kontaktTemp .form {
    width: 100%;
  }
}
.container .wrapper #kontaktTemp .form .title {
  font-size: 1.8rem;
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: 1rem;
}
.container .wrapper #kontaktTemp .form .name {
  margin-top: 1rem;
}
.container .wrapper #kontaktTemp .form .field {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  border: 0;
  outline: 0;
  padding: 0.3rem 0.6rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  transition: 0.1s all ease;
  color: #DCAF6B;
}
.container .wrapper #kontaktTemp .form .field:focus {
  outline: 1px solid #DCAF6B;
}
.container .wrapper #kontaktTemp .form textarea {
  resize: none;
  height: 150px;
}
.container .wrapper #kontaktTemp .form input[type=submit] {
  margin-top: 1rem;
  color: #DCAF6B;
  outline: #DCAF6B 2px solid;
  padding: 0.6rem 1.8rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  border: 0;
  transition: 0.3s all ease;
  cursor: pointer;
}
.container .wrapper #kontaktTemp .form input[type=submit]:hover {
  background-color: #DCAF6B;
  color: black;
}
.container .wrapper #kontaktTemp .info img {
  width: 400px;
}
.container .wrapper #kontaktTemp .info .desc {
  text-align: right;
}
.container .wrapper #kontakt .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .wrapper #kontakt .info img {
  width: 400px;
}
@media screen and (max-width: 768px) {
  .container .wrapper #kontakt .info img {
    width: 300px;
  }
}
@media screen and (max-width: 576px) {
  .container .wrapper #kontakt .info img {
    width: 200px;
  }
}
.container .wrapper #kontakt .info .desc {
  text-align: center;
  font-size: 1.4rem;
}
@media screen and (max-width: 768px) {
  .container .wrapper #kontakt .info .desc {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 576px) {
  .container .wrapper #kontakt .info .desc {
    font-size: 1rem;
  }
}
.container .wrapper #kontakt .info .desc a {
  color: white;
}
.container .wrapper .hidden {
  display: none;
}
.container .arrowUp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #DCAF6B;
  padding: 1rem;
  border-radius: 50%;
  opacity: 0.69;
  transition: 0.3s all ease;
  cursor: pointer;
}
.container .arrowUp img {
  transform: rotate(-90deg);
}
.container .arrowUp:hover {
  opacity: 0.9;
}
.container .hidden {
  display: none;
}/*# sourceMappingURL=apartament.css.map */